@import url("https://fonts.googleapis.com/css?family=Lobster");
@import url("https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

body {
  /* align-self: center; */
  /* text-align: center;  */
  font-family: "Lobster", cursive;
  /* background-image: url('https://t3.ftcdn.net/jpg/02/15/38/38/360_F_215383828_58RSh9St7bLwNumxvmoKRCZFDSaFbBxX.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    position: absolute; */
  /* background-image: bl; */
  /* top: 25%;
    left: 37.5%; */
  /* margin : auto; */
  /* font-size: 2vw; */
}

p {
  font-family: "Kanit";
}

img,
button {
  -webkit-user-drag: none;
}
* {
  user-select: none;
}
#content-container {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  flex-direction: column;
  background-image: linear-gradient(black, #4e4e4ee1);
}

.conveyor {
  background-color: #d0d0d0;
  max-height: 40vh;
  position: absolute;
  right: 0px;
  top: 0;
  width: 100%;
  height: auto;
  overflow: hidden;
}
#belt {
  margin-top: calc(153px + 10vh);
  position: flex;
  display: flex;
  flex-direction: row;
  bottom: 0;
  overflow: hidden;
  width: 100vw;
  height: 20px;
  gap: 1px;
}
.circle-belt {
  position: absolute;
  overflow: hidden;
  top: auto;
  bottom: auto;
  width: 12px;
  height: 12px;
  border-radius: 100%;
  background-color: #909090;
  position: relative;
}
.shake-animate {
  animation: shakeY 0.3s ease-in-out infinite;
}
@keyframes shakeY {
  0% {
    transform: translateY(0);
  }
  25% {
    transform: translateY(-0.5px);
  }
  50% {
    transform: translateY(0.5px);
  }
  75% {
    transform: translateY(-0.5px);
  }
  100% {
    transform: translateY(0);
  }
}

.luggage {
  margin-top: 10vh;
  position: absolute;
  width: 300px;
  height: 150px;
  border-radius: 10px;
  overflow: hidden;
  top: auto;
  bottom: auto;
}

.run-animate {
  animation: moveLuggage 8s linear infinite, shake 0.3s ease-in-out infinite;
}
.run-animate:hover {
  animation: moveLuggage 8s linear infinite, shake 0.3s ease-in-out infinite,
    jump 0.3s cubic-bezier(0.2, 0.7, 0.4, 1.2);
}

@keyframes moveLuggage {
  0% {
    left: -100%;
  }
  100% {
    left: 150%;
    transform: translateX(-50%);
  }
}
@keyframes shake {
  0% {
    transform: translateX(0);
    transform: rotate(0deg);
  }
  25% {
    transform: translateX(-2px);
    transform: rotate(1deg);
  }
  50% {
    transform: translateX(2px);
    transform: rotate(-1deg);
  }
  75% {
    transform: translateX(-2px);
    transform: rotate(1deg);
  }
  100% {
    transform: translateX(0);
    transform: rotate(0deg);
  }
}
@keyframes jump {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-5vh);
  }
  100% {
    transform: translateY(0);
  }
}
#gamename {
  color: #e7e7e7;
  margin-top: 40vh;
  text-align: center;
  font-size: 10vh;
}
a {
  -webkit-user-drag: none;
}
a:link,
a:visited {
  background-color: #2d2d2d;
  color: white;
  font-size: 4vh;
  padding: 2vh 5vh;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin-bottom: 1vh;
  border-radius: 2vh;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

a:hover,
a:active {
  box-shadow: 0 0px 10px rgba(0, 0, 0, 0.7);
  transform: scale(1.2);
  color: #e9e9e9;
  background-color: rgb(147, 147, 147);
}

#tutorial-btn {
  border: 0px;
  font-family: "Lobster", cursive;
  background-color: #2d2d2d;
  color: white;
  font-size: 3vh;
  padding: 2vh 5vh;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border-radius: 2vh;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

#tutorial-btn:hover {
  box-shadow: 0 0px 10px rgba(0, 0, 0, 0.7);
  transform: scale(1.2);
  color: #e9e9e9;
  background-color: rgb(147, 147, 147);
}

#tutorial-container {
  display: none;
}

.shadow {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  z-index: 1;
}
#tutorial-page {
  /* font-family: "Lobster", "Kanit"; */
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  position: relative;
  z-index: 2;
  background: #e9e9e9;
  width: 80vw;
  height: auto;
  max-width: 70vw;
  max-height: 70vh;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  flex-direction: column;
  overflow: auto;
}
#tutorial-page::-webkit-scrollbar {
  background-color: transparent;
}

#tutorial-page::-webkit-scrollbar-thumb {
  width: 10px;
  background-color: rgb(88, 88, 88);
  border-radius: 100vw;
}

#tutorial-page h1 {
  margin-top: 50vh;
  font-family: "Lobster";
  font-size: 24px;
}

.img-item {
  max-width: auto;
  max-height: 160px;
  object-fit: contain;
}

#close-tutorial {
  margin-bottom: 50vh;
  padding: 10px 10px;
  font-size: 32px;
  height: 60px;
  width: 60px;
  border-radius: 100%;
  border: 0px;
  background-color: rgba(255, 255, 255, 0);
  transition: transform 0.3s ease;
  color: #000000;
  margin-bottom: 5vh;
}
#close-tutorial:hover {
  color: #ffffff;
  background-color: rgba(0, 0, 0, 0.5);
  transform: scale(1.2);
  cursor: pointer;
}
